<footer class="row">
  <h1 class="logo col-md-3 col-sm-12">Rock Band</h1>

  <ul class="col-md-7 col-sm-12">
    <li><a href="#">Home</a></li>
    <li><a href="#">Miembros</a></li>
    <li><a href="#">Biografia</a></li>
    <li><a href="#">About</a></li>
  </ul>

  <ul class="social-bloc col-md-2 col-sm-12">
    <li class="social"><a href="#"><i class="fa-brands fa-square-google-plus"></i></a></li>
    <li class="social"><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
    <li class="social"><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
  </ul>
</footer>