.home {

  .home-img {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: none;
    }
  }
}

@supports (display:grid) {

  @media (min-width: $large) {

    .home {
      max-width: none;
      display: grid;
      grid-template-columns: 5vw 20vw 20vw 20vw 5vw 25vw 5vw;
      grid-template-rows: 5vh 10vh 40vh 15vh 10vh;
      padding: 0;

      .home-img {
        grid-column: 1 / 5;
        grid-row: 1 / 5;
      }

      h2 {
        z-index: 2;
        grid-column: 4 / span 6;
        grid-row: 2;
        margin-right: 3vw;
      }

      .primera-fecha{
        z-index: 3;
        grid-row: 1 / -1;
        grid-column: 1;
        margin-top: 2vw;
        writing-mode: vertical-rl;
        color: $uoc-yellow;
      }

      .world-tour {
        grid-column: 6;
        grid-row: 3;
        align-self: center;
        font-weight: bold;
      }

      .conciertos {
        grid-column: 1/8;
        grid-row: 5;
        margin-bottom: 0;
        color: $uoc-white;
        text-align: center;
        line-height: 10vh;
        background-color: $uoc-blue;
        
      }
    }
  }

  @media (max-width: $large) {

    .home {
      max-width: none;
      display: grid;
      grid-template-columns: 10vw 80vw 10vw;
      grid-template-rows: 5vh 10vh 40vh 15vh 10vh;
      padding: 0;

      .home-img {
        grid-column: 1 / 4;
        grid-row: 1 / 5;
      }

      h2 {
        z-index: 2;
        align-self: center;
        grid-column: 2;
        grid-row: 2;
        text-align: end;
      }

      .primera-fecha{
        z-index: 3;
        grid-row: 1 / -1;
        grid-column: 1;
        margin-top: 2vw;
        writing-mode: vertical-rl;
        color: $uoc-yellow;
      }

      .world-tour {
        z-index: 3;
        grid-column: 2;
        grid-row: 3;
        align-self: center;
        margin-left: 5vw;
        font-weight: bold;
      }

      .conciertos {
        grid-column: 1/5;
        grid-row: 5;
        margin-bottom: 0;
        color: $uoc-white;
        text-align: center;
        line-height: 10vh;
        background-color: $uoc-blue;
      }
    }
  }

  @media (max-width: $medium) {

    .home {

      .primera-fecha, .world-tour, .conciertos {
        font-size: 1.15rem;
      }

      .conciertos {
        line-height: 5vh;
      }
    }
  }
}