.members {
  @include main-objects;
  margin-bottom: 4rem;

  h2 {
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-size: calc(1.5rem + 2vw);
    text-align: center;
  }

  @media (max-width: $medium) {
    
    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  .members-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .member-item {
      width: 380px;
      padding: 10px;
      margin-bottom: 3rem;

      .member-img {
        
        img {
          border: 2px solid $uoc-blue;
          border-radius: 5%;
        }
      }

      .member-name {
        margin-bottom: 0;
        margin-top: 1rem;
        text-align: center;
        color: $uoc-blue;
        font-family: "cf_revolutionregular", sans-serif;
      }

      .member-position {
        text-align: center;
      }

      .member-description {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}