.members {
  max-width: $extra-large;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;

  h2 {
    font-size: calc(1.5rem + 2vw);
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }

  .members-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .member-item {
      width: 380px;
      padding: 10px;
      margin-bottom: 3rem;

      .member-img {
        
        img {
          border: 2px solid $uoc-blue;
          border-radius: 5%;
        }
      }

      .member-name {
        text-align: center;
        font-size: 1.25rem;
        color: $uoc-blue;
        font-family: "cf_revolutionregular", sans-serif;
        margin-bottom: 0;
        margin-top: 1rem;
      }

      .member-position {
        text-align: center;
        font-size: .75rem;
      }

      .member-description {
        font-size: .75rem;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}