.bio {

  .bio-heroe {
    min-height: 60vh;
    margin-bottom: 6rem;
    background-image: url("../images/concert_bio.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    
    h2 {
      padding-top: 25vh;
    }

    p {
      font-weight: bold;
    }
  }

  .cuerpo-articulo {
    @include main-objects;
    padding-left: 30px;
    padding-right: 30px;

    @media (max-width: $extra-large) {
      margin-left: 5vw;
      margin-right: 5vw;
      padding-left: 0;
      padding-right: 0;
    }

    .texto-destacado {
      color: $uoc-blue;
    }

    .texto-intro{
      margin-top: 2rem;
      margin-bottom: 0;
      padding-bottom: 2rem;
      border-bottom: 1px solid $uoc-blue;
    }

    .principios {
      counter-reset: my-counter;
      list-style: none;
      margin-bottom: 0;
      padding-top: 2rem;
      border-bottom: 1px solid $uoc-blue;

      li {
        counter-increment: my-counter;
        position: relative;
        margin-bottom: 2rem;
        
        p:first-child {
          font-weight: bold;
        }
      }
      
      li::before {
        $size: 30px;
        top: 0;
        left: calc(-1 * $size - 10px);
        position: absolute;
        width: $size;
        height: $size;
        content: counter(my-counter);
        color: $uoc-white;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        line-height: $size;
        background-color: $uoc-blue;
        border-radius: 50%;
      }
    }

    .cita {
      margin-top: 2rem;
      margin-bottom: 4rem;

      .cita-bq {
        padding: 1rem;
        color: $uoc-white;
        background-color: $uoc-blue;
      }
    }

    .texto-cierre {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}