@mixin object-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

@mixin main-objects {
  @include object-center;
  max-width: $extra-large;
  background-color: $uoc-white;
}
