/* ==========================================================================
#BREAKPOINTS-VARIABLES
========================================================================== */

$extra-small: 320px;
$small: 540px;
$medium: 720px;
$large: 990px;
$extra-large: 1140px;