/* ==========================================================================
#COLOR-VARIABLES
========================================================================== */

@use "sass:color";

$uoc-corporate: rgba(0, 0, 120);
$uoc-masterbrand: rgba(115, 237, 255);
$uoc-a-link-hover: rgba(240, 0, 255);
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);