/* ==========================================================================
#COLOR-VARIABLES
========================================================================== */

@use "sass:color";

$uoc-corporate: rgba(0, 0, 120);
$uoc-masterbrand: rgba(115, 237, 255);
$uoc-a-link-hover: rgba(240, 0, 255);
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
$uoc-grey: rgba(168, 168, 168, .5);
$uoc-blue: rgba(8, 66, 152);
$uoc-blue-op: rgba(8, 66, 152, .3);
$uoc-yellow: rgba(189, 189, 9);
$uoc-white: rgba(255, 255, 255);