header {
  align-items: center;
  display: flex;
  @include main-objects;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

@media (max-width: $medium) {

  header {
    display: inline !important;

    .logo {
      text-align: center;
      padding-top: 1rem;
      border-bottom: 1px solid $uoc-grey;
      padding-bottom: 1rem;
    }
  }
}