/**
* ELEMENTS
* Capa con los estilos de los elementos HTML que afectan a toda la aplicacion
*/

@import "elements.a";
@import "elements.article";
@import "elements.body";
@import "elements.footer";
@import "elements.h1";
@import "elements.i";
@import "elements.img";
@import "elements.p";