nav {
  flex: 1;

  ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }

  li {
    list-style: none;
    height: 40px;
    line-height: 40px;
  }
}

@media (max-width: $medium) {
  nav {
    ul {
      padding-left: 0;
    }
  }
}
